body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #E0FFFF;
    color: #003366;
}

header {
    background-color: #1E90FF;
    color: #E0FFFF;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav a {
    color: #E0FFFF;
    text-decoration: none;
}

nav a.active {
    color: red;
    font-weight: bold;
}

main {
    padding: 20px;
}

footer {
    text-align: center;
    padding: 100px;
}

nav img {
    margin-right: 15px;
    vertical-align: right;
}
main img {
    display: block;
    margin: 20px auto;
    border-radius: 10px;
}

input[type="text"] {
  margin-top: 10px;
  margin-bottom: 30px;
}  
table {
    border-collapse: collapse;
    width: 30%;
    margin: 20px auto;
}
button {
    background-color: #1E90FF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

.popular {margin: 20px auto;
    text-decoration: none;
    padding: 15px
}
.popular a {
    text-decoration: none;
    color: #003d79;
    font-weight: bold;
    transition: color 0.3s;
}

#contacts {
    width: 300px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f0f8ff;
    border: 2px solid #007BFF;
    border-radius: 10px;
}

.form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}


.form-row input {
    padding: 6px;
    font-size: 13px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; 
    box-sizing: border-box}